.game-over {
    visibility: hidden;
    position: absolute;
    top: 0;
    right: 0;
    // top: 50%;
    // left: 50%;
    // transform: translate3d(-50%, -50%, 0);
    // height: 50%;
    min-height: fit-content;
    width: 50%;
    background: rgb(198, 255, 255);
    border-radius: 20px;
    box-shadow: -4px 4px 5px 0px rgba(107, 104, 105, 0.48);

    .title {
        font-size: 3rem;
        text-align: center;
        margin-top: 20px;
    }

    .modal-body {
        display: flex;
        justify-content: space-between;
    }

    .content {
        margin: 20px auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    img {
        width: 30%;
    }
    
}



.message {
    font-size: 2rem;
}