.game-over {
    visibility: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    height: fit-content;
    width: 50%;
    background: rgb(198, 255, 255);
    border-radius: 20px;
    box-shadow: -4px 4px 5px 0px rgba(107, 104, 105, 0.48);

    .title {
        font-size: 3rem;
        text-align: center;
        margin-top: 20px;
    }

    .modal-body {
        display: flex;
        justify-content: space-between;
    }

    .content {
        margin: 20px auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .message {
        font-size: 2rem;
    }

    img {
        width: 25%;
        animation: nodSide 1s;
        animation-iteration-count: infinite;
    }
    
}

@keyframes nodSide {
    0% {
        transform: rotateZ(-10deg);
    }
    50% {
        transform: rotateZ(10deg);
    }
    100% {
        transform: rotateZ(-10deg);
    }
}